*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
div {
    display: block;
}
body{
    text-align: center;
}
nav{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    background-color: #4d4d4d;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
ul li img{
    width: fit-content;
    height: 70px;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

nav a:hover{
    background-color: gray;
    color: white;
    text-decoration: none;
}

nav li:first-child{
    margin-right: auto;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-top: 30px;
    height: 36px;
    width: fit-content;
}
.item img{
    width: 1200px;

}
.search img{
    width: 20px;
    height: 20px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 30rem;
    padding: 20px;
}
.price{
    color: rgb(90, 90, 236);
}
.electronic-device header{
    text-align: center;
    font-size: 30px;
    padding: 20px;
}
.item-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 15px;
    justify-content: center;
}

div a{
    text-decoration: none;
}

.show-all{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.show-all a{
    border: 1px solid #0066CC;
    border-radius: 8px;
    padding: 5.5px 45px;
    color: blue;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.show-all a:hover{
    background-color: rgb(77, 77, 223);
    color: white;
    text-decoration: none;
}

footer{
    border: 1px solid black;
    background-color: #4d4d4d;
}
.footer{
    padding-left: 16rem;
    color: white;
}

.footer a{
    color: white;
}

.logo-web img{
    width: fit-content;
    height: 70px;
}
